<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>659979061531-jj7fala7buoh8aa5blir4ngea7unh7qd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.659979061531-jj7fala7buoh8aa5blir4ngea7unh7qd</string>
	<key>API_KEY</key>
	<string>AIzaSyArNAOVfiYMY-HEjxM2NPd3mtl5lakl3lE</string>
	<key>GCM_SENDER_ID</key>
	<string>659979061531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.note.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>note-app-a1a19</string>
	<key>STORAGE_BUCKET</key>
	<string>note-app-a1a19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:659979061531:ios:bfc22acc1838745f9aabbe</string>
</dict>
</plist>